// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}

.content {
	margin: 150 0 0 150;
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
    	color: inherit;
	font-weight: bold;
	align: center;
	margin-top: 60px;
}

